<div class="groups">
  <% @groups.each do |group|%>
    <table class="table">
      <thead>
        <tr>
          <th scope="row"><%= group.name %></th>
          <td class="detail-value"><%= link_to "チャットに参加する", group_speaks_path(group) %></td>
        </tr>
        
      </thead>
    </table>
  <% end %>
  <br>
  <br>
  <%= link_to "グループを作成する", new_group_path %>
</div>