<div class="groups">
  <% @groups.each do |group|%>
    <div class="group-name">
      <%= group.name %>
      <%= link_to "チャットに参加する", group_speaks_path(group) %>
    </div>
  <% end %>
  <%= link_to "グループを作成する", new_group_path %>
</div>