.detail-table {
    margin-bottom: 30px;
    width: 100%;
  }

  .detail-item {
    width: 20%;
    background-color: #eee;
    border: 1px solid black;
    font-size: 14px;
    text-align: center;
  }
  
  .detail-value {
    width: 80%;
    padding: 20px;
    border: 1px solid black;
    font-size: 14px;
  }